@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("resources/img/loginpage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    flex-direction: column; /* Add this line to arrange items vertically */
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}

h1 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px; /* Add space below the heading */
}

.inputbox {
    position: relative;
    margin: 30px 0;
    max-width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
}

input:focus ~ label, 
input:valid ~ label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 60px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2rem;
    top: 20px;
}




 button, .button-link {
    width: 100%;
    text-align:center;
    
    height: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.4s ease;
    text-decoration: none; 
    color: inherit; 
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.register {
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.leaves {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    pointer-events: none;
  }
  
  .leaves .set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .leaves .set div {
    position: absolute;
    display: block;
  }
  
  .leaves .set div:nth-child(1) {
    left: 0%;
    animation: animate 20s linear infinite;
  }
  
  .leaves .set div:nth-child(2) {
    left: 50%;
    animation: animate 14s linear infinite;
  }
  
  .leaves .set div:nth-child(3) {
    left: 70%;
    animation: animate 12s linear infinite;
  }
  
  .leaves .set div:nth-child(4) {
    left: 5%;
    animation: animate 15s linear infinite;
  }
  
  .leaves .set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
  }
  
  .leaves .set div:nth-child(6) {
    left: 90%;
    animation: animate 12s linear infinite;
  }
  
  .leaves .set div:nth-child(7) {
    left: 15%;
    animation: animate 14s linear infinite;
  }
  
  .leaves .set div:nth-child(8) {
    left: 60%;
    animation: animate 15s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      top: -10%;
      transform: translateX(20px) rotate(0deg);
    }
    10% {
      opacity: 1;
    }
    20% {
      transform: translateX(-20px) rotate(45deg);
    }
    40% {
      transform: translateX(-20px) rotate(90deg);
    }
    60% {
      transform: translateX(20px) rotate(180deg);
    }
    80% {
      transform: translateX(-20px) rotate(45deg);
    }
    100% {
      top: 110%;
      transform: translateX(20px) rotate(225deg);
    }
  }